
@font-face {
font-family: 'Helvetica Neue LT Std 45 Light';
font-style: normal;
font-weight: normal;
src: local('../fontsHelvetica Neue LT Std 45 Light'), url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
}
body
{ 

	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;	
	line-height: 1.375em;
	background: #dbdbdb;
	-webkit-font-smoothing: antialiased;

}
*, *:before, *:after {
    box-sizing: inherit;
}
h1 {  font-size: 36px; 		line-height: 40px; 		font-family: 'Open Sans', sans-serif;			}
h2 {  font-size: 22px; 	line-height: 24px;		font-family: 'Open Sans', sans-serif;			}
h3 {  font-size: 15px; 	line-height: 24px;		font-family: 'Open Sans', sans-serif;			}
h4 {  font-size: 12px; 	line-height: 24px; 	font-family: 'Open Sans', sans-serif;			}

blockquote { font-size: 72px; line-height: 80px; font-family: "Times New Roman", sans-serif;		}
p { font-size: 1.5em; font-family: 'Open Sans', sans-serif; }
ul li {
    font-size: 1.25em; line-height: 1.22em;
}
.container-fluid {
    width: 1200px;
    
}
section
{
	margin: 0;
	display: block;
}

